.pictogram-space{
	margin-right:30px;
}

.pictogram-min-space{
	margin-right:15px;
}
.manage-product-select{
	width:221px;
}

.mt-widget-3.large-btn .mt-head .mt-head-button>button{
	width:130px;
}
.mt-widget-3.x-large-btn .mt-head .mt-head-button>button{
	width:160px;
}


